<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Movie</title>
</head>
<body>

    <a href="/movies">Back to Movie list</a>
    <h1><h1><%= title %></h1></h1>
    <form action="/movies/<%= action %> " method="post"> 
        <div> 
            <label for="name"> Name:</label>
            <% if (locals.movie) { %>
                <input type="hidden" id="id" name="id" value="<%= movie.id %>">
                <input type="text" id="name" name="name" value="<%= movie.name %>">
            <% } else { %>
                <input type="text" id="name" name="name">
            <% } %>
        
        <% if (locals.errorMessage) { %>
            <p style="color: red"><%= errorMessage %> </p>
        <% } %>
        <button>Save</button>
    </form>
</body>
</html>